.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../loginimg.png');



    background-size: cover;
    background-position: center;
  }
  
  .login-form {
   
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    background-color: #FAA0A0;
    max-width: 400px;
    width: 100%;
    position: relative;
    height: 350px;
  }
  
  h2 {
    text-align: center;
    color: #333333;
  }
  
  .error-message {
    color: red;
    text-align: center;
    font-size: 14px;
  }
  
  .login-form div {
    margin-bottom: 20px; /* Space between fields */
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Sign Up Link Styling */
  .signup-option {
    text-align: center;
    margin-top: 15px;
  }
  
  .signup-option a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-option a:hover {
    text-decoration: underline;
  }